.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.2em;
    grid-auto-flow: row;
    grid-template-areas:
      "timer"
      "buttons";
}
  
.timer {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
gap: 0.2em;
grid-auto-flow: row;
grid-template-areas:
    "minutes seconds";
grid-area: timer;
}

.minutes { grid-area: minutes; }

.seconds { grid-area: seconds; }

.buttons {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
gap: 0.2em;
grid-auto-flow: row;
grid-template-areas:
    "button1 button2 button3";
grid-area: buttons;
}

.button1 { grid-area: button1; }

.button2 { grid-area: button2; }

.button3 { grid-area: button3; }
  
body {font-size: 5rem;}
#s { text-align: left; }
#m { text-align: right; }