@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    height: 100vh;
}

.ui {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.2em;
    grid-auto-flow: row;
    grid-template-areas:
    "... ... ..."
      "... timer ..."
      "... buttons ..."
      "... ... ...";
    grid-area: 1 / 1 / 2 / 2;
    opacity: 75%;
    background-color: #ffffff;
    font-family: 'Slabo 27px', serif;
    height: 100vh;
}
  
.timer {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 0.5fr;
gap: 0.2em;
grid-auto-flow: row;
grid-template-areas:
    "m s"
    "timeM timeS";
grid-area: timer;
}
.seconds { text-align: left; }
.minutes { text-align: right; }
#m { grid-area: m; font-size: 10rem;}
#s { grid-area: s; font-size: 10rem;}
#timeM { grid-area: timeM; font-size: 5rem;}
#timeS { grid-area: timeS; font-size: 5rem;}

.buttons {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
gap: 0.2em;
grid-auto-flow: row;
grid-template-areas:
    "button1 button2 button3";
grid-area: buttons;
}
button {font-size: 5rem;}
.button1 { grid-area: button1; }
.button2 { grid-area: button2; }
.button3 { grid-area: button3; }

.bg {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pulse {
    animation: pulse-animation 2s infinite;
  }
  @keyframes pulse-animation {
    0% { 
        opacity: 1.0;
        color:midnightblue;
    }
    50% { 
        opacity: 0.5;
        color:black;
    }
    100% { 
        opacity: 1.0;
        color:midnightblue;
    }
}
